.main-page-block {
    width: 700px;
    border: solid black 1px;
    background-color: var(--hover-btn);
    border-radius: 30px;
    padding: 0 30px 30px 30px;
}

.main-page-block__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page-block__container-title {
    font-size: 17px;
    width: 65%;
    text-align: center;
}

.main-page-block__container-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-page-block__container-content-text {
    width: 60%;
}

.main-page-block__container-content-logo {
    width: 120px;
    height: 120px;
}

.main-page-block__container-content-logo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.news-block__container-title {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}

.news-block__container-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.news-block-new-container {
    width: 40%;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    background-color: white;
}

.news-block-new-container__title {
    margin: 0;
    text-align: center;
    font-size: 15px;
}