<div class="content__welcome-block main-page-block">
    <div class="main-page-block__container">
        <h2 class="main-page-block__container-title">
            #title#
        </h2>
        <div class="main-page-block__container-content">
            <div class="main-page-block__container-content-logo">
                <img src="#image#" alt="#title#">
            </div>
            <div class="main-page-block__container-content-text">
                #content#
            </div>
        </div>
    </div>
</div>