engine/config/DB.php
engine/templates/media/docs/*
engine/cache/system/*
engine/cache/pages/*
engine/templates/media/images
!engine/templates/media/images/logo.jpg
!engine/templates/media/images/logo_example.gif