.container {
    display: flex;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0 0 40px;
}

.main-page-block {
    width: 700px;
    height: 180px;
    border: solid black 1px;
    background-color: var(--hover-btn);
    border-radius: 30px;
    padding: 0 10px 40px 40px
}

.main-page-block__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page-block__container-title {
    font-size: 17px;
    width: 65%;
    text-align: center;
}

.main-page-block__container-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-page-block__container-content-text {
    width: 60%;
}

.main-page-block__container-content-logo {
    width: 120px;
    height: 120px;
}

.main-page-block__container-content-logo img {
    width: 100%;
    height: 100%;
}