<header>
    <div class="header__left-block header-left-block">
        <div class="header-left-block__logo">
            <a href="/">
                <img src="/engine/templates/media/images/logo.png">
            </a>
        </div>
        <div class="header-left-block__name">
            <span>Донецкая народная республика</span>
            <span>Государственное бюджетное профессиональное образовательное учреждение </span>
            <span>"Дебальцевский многопрофильный техникум"</span>
        </div>
    </div>
    <div class="header__right-block header-right-block">
        <div class="header-right-block__menu">
            <ul class="header-right-block__menu-ul header-menu">
                <li>
                    <a href="/">Главная</a>
                </li>