<div class="right-block">
    <div class="right-block__contacts">
        <h2 class="right-block__contact-title">
            Наши контакты:
        </h2>
        <div class="right-block__contact-content">
            <div class="right-block__contact-content-block">
                <span>Наша эл. почта: </span><a href="mailto:example@site.ru">example@site.ru</a>
            </div>
            <div class="right-block__contact-content-block">
                <span>Телефон 1: </span><a href="phone:89999999999">8 (999) 999 99-99</a>
            </div>
            <div class="right-block__contact-content-block">
                <span>Телефон 2: </span><a href="phone:81111111111">8 (111) 111 11-11</a>
            </div>
        </div>
    </div>
    <div class="right-block__menu">
        <h2 class="right-block__menu-title">
            Карта сайта
        </h2>
        <div class="rigth-block__menu-content">
            <div class="rigth-block__menu-content-block">
                <h3><a href="/">Главная сайта</a></h3>
            </div>