<!-- Don't use me!!! -->

<header>
    <div class="header__left-block header-left-block">
        <div class="header-left-block__logo">
            <a href="/">
                <img src="engine/templates/media/images/logo_example.gif">
            </a>
        </div>
        <div class="header-left-block__name">
            <span>Донецкая народная республика</span>
            <span>Государственное бюджетное профессиональное образовательное учреждение </span>
            <span>"Дебальцевский многопрофильный техникум"</span>
        </div>
    </div>
    <div class="header__right-block header-right-block">
        <div class="header-right-block__menu">
            <ul class="header-right-block__menu-ul header-menu">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li class="header-menu__li-sub1">
                    <a href="#">Сведения об образовательной организации</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Основные сведения</li></a>
                        <a href="#"><li>Структура и органы управления образовательной организацией</li></a>
                        <a href="#"><li>Документы</li></a>
                        <a href="#"><li>Образование</li></a>
                        <a href="#"><li>Образовательные стандарты</li></a>
                        <a href="#"><li>Руководство. Педагогический состав</li></a>
                        <a href="#"><li>Стипендии и иные виды материальной поддержки</li></a>
                        <a href="#"><li>Материально-техническое обеспечение и оснащенность образовательного процесса</li></a>
                        <a href="#"><li>Финансово-хозяйственная деятельность</li></a>
                        <a href="#"><li>Вакантные места для приема</li></a>
                        <a href="#"><li>Противодействие коррупции</li></a>
                    </ul>
                </li>
                <li class="header-menu__li-sub1">
                    <a href="#">Студентам</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Комплексно-целевые программы</li></a>
                        <a href="#"><li>Стипендии и иные виды материальной поддержки</li></a>
                        <a href="#"><li>Общежитие</li></a>
                        <a href="#"><li>График учебного процесса</li></a>
                        <a href="#"><li>Дополнительное образование</li></a>
                        <a href="#"><li>WorldSkills</li></a>
                        <a href="#"><li>Фонд поддержки детей</li></a>
                    </ul>
                </li>
                <li class="header-menu__li-sub1">
                    <a href="#">Абитуриентам</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Документы об организации работы приёмной комиссии</li></a>
                        <a href="#"><li>Документы для поступления</li></a>
                        <a href="#"><li>Контрольные цифры приёма студентов</li></a>
                        <a href="#"><li>Наши процессии</li></a>
                        <a href="#"><li>Вакантные места приёма</li></a>
                        <a href="#"><li>Порядок приёма</li></a>
                        <a href="#"><li>Количество поданных заявлений</li></a>
                    </ul>
                </li>
                <li class="header-menu__li-sub1">
                    <a href="#">Выпускникам</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Социальные партнёры</li></a>
                        <a href="#"><li>Советы психолога</li></a>
                        <a href="#"><li>Центр трудоустройства выпускников</li></a>
                    </ul>
                </li>
                <li class="header-menu__li-sub1">
                    <a href="#">Наша жизнь</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Новости</li></a>
                        <a href="#"><li>Фотогалерея</li></a>
                        <a href="#"><li>Лучшие выпускники</li></a>
                    </ul>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li class="header-menu__li-sub1"> <!-- Fix that! -->
                    <a href="#">Информация</a>
                    <ul class="header-menu__sub header-menu__ul-sub1">
                        <a href="#"><li>Материалы</li></a>
                        <a href="#"><li>Вакансии</li></a>
                        <a href="#"></a><li>Контакты</li></a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-right-block__visually-impaired-version">
            <a href="#">
                Версия для слабовидящих
            </a>
        </div>
    </div>
</header>