@font-face {
    font-family: "Roboto";
    src: url("./engine/templates/media/fonts/Robot.ttf");
}

:root {
    --soft-color: #dbe2ef;
    --general-color: #3f72af;
    --rough-color: #112d4e;
}

body {
    margin: 0;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
    background-color: var(--soft-color);
}

.header-left-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left-block__logo {
    width: 100px;
    height: 100px;
}

.header-left-block__logo img {
    width: 100%;
    height: 100%;
    border-radius: 20px;;
}

.header-left-block__name {
    width: 430px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
}

.container {
    display: flex;
}

.content {
    width: 80%;
    height: 1000px; /* Delete me! */
}

.left-block {
    width: 20%;
    height: 1000px; /* Delete me! */
}

footer {
    width: 100%;
    height: 150px;
}